@import './base.css';
@import '../scss/partials/hamburger.scss';
@import '../scss/partials/jumbotron';
@import '../scss/partials/ricerca_avanzata';
@import '../scss/partials/slidecard';
@import '../scss/partials/contatti';
@import '../scss/partials/showappartamenti';
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
}

h1 {
  color: #146C94;
}

p {
  color:black;
}

label{
  color:black;
}